.App {
  font-family: sans-serif;
  text-align: center;
}

.rose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.rose-svg {
  width: 250px;
  height: 250px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.rose-petal {
  transition: fill 0.3s ease-in-out;
}
.rose-stem {
  transition: transform 0.3s ease-in-out;
}
.rose-leaf {
  transition: transform 0.3s ease-in-out;
}
.rose-container:hover .rose-svg {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.7));
}

.rose-container:hover .rose-petal {
  fill: #ff4d4d;
}
.rose-container:hover .vText {
  display: inline;
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.7));
}
.vText {
  position: absolute;
  top: 150px;
  color: red;
  display: none;
}

.heart {
  position: absolute;
  color: red;
  font-size: 20px;
  opacity: 0.8;
  animation: fall 3s linear forwards;
}
@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scale(0.5);
    opacity: 0;
  }
}
